*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: capitalize;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3em;
    min-height: 100vh;
    background: linear-gradient(3600deg, rgb(220, 220, 88) 50%, rgb(68, 64, 64) 50%);
}

.container{
    padding: 20px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-task-input{
    height: 50px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 50px;
    background: rgba(137, 134, 134, 0.34);
    color: #ddd;
    padding: 0 10px;
    margin: 15px 0;
    border-bottom: 2px solid #666;
}

input::placeholder{
    color: #aaa;
    font-size: 1.05em;
}

#new-task-submit{
    padding: .7rem;
    border: none;
    outline: none;
    background-color: purple;
    color: pink;
    font-size: 1rem;
    font-weight: 700;   
    background-image: linear-gradient(to left, pink, purple); 
    -webkit-background-clip: text;
    background-clip:text;
    /* -webkit-text-fill-color: transparent; */
    -webkit-text-fill-color: orchid;
    cursor: pointer;
    transition: .4s;
}

#new-task-submit:hover{
    opacity: .8;
}

#new-task-submit:active{
    opacity: .6;
}

main{
    height: 100%;
    background-color: rgb(171, 119, 75);
}

#group-list{
    padding: .2rem .6rem;
}

#list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: rgb(189, 139, 188);
    border-radius: 10px;
    margin: .3rem;
    list-style-type: none;
}

span i{
    cursor: pointer;
    padding: 0 4px;
}

.fa-check{
    color: green;
}

.fa-trash-can{
    color: crimson;
}